html {
    background-color: lightcyan;
    font-family:'Courier New', Courier, monospace
}


ul {
    list-style-type: none;
    margin: 0!important;
    padding: 0;
    overflow: hidden;
    background-color:turquoise;
    color:black;
    font-family: 'Courier New', Courier, monospace;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  

  li a:hover {
    background-color: #111;
  }

