html {
    background-color: lightcyan;
}

h1 {
display:grid;
justify-items: center;

font-family: 'Courier New', Courier, monospace;
}

h2 {
  style:inline;

}

img {
  float: left;
max-width: 40vh;
margin: 4vh;
}

#text {
  margin-left: 10vh;
}
.profile {

font-size: 9vh;
font-family: 'Courier New', Courier, monospace;
}
ul {
    list-style-type: none;
    margin: 0!important;
    padding: 0;
    overflow: hidden;
    background-color:turquoise;
    color:black;
    font-family: 'Courier New', Courier, monospace;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }